<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {domain}) %>
</head>

<body>
    <label for="username">username:</label>
    <input type="text" id="username"> <br>
    <label for="password">password:</label>
    <input type="password" id="password"> <br>
    <button id="login-btn">Login</button>

    <%- include('partials/foot') %>
</body>

</html>