<h3>Admin chi nhánh <%- branch.branch %></h3>

<div style="display: flex;">
    <a href="/product" style="margin: 0 5px;">Sản phẩm</a>
    <a href="javascript:void(0)" style="margin: 0 5px;">Thể loại</a>
    <a href="javascript:void(0)" style="margin: 0 5px;">Nhân viên</a>
    <a href="javascript:void(0)" style="margin: 0 5px;">Kho</a>
    <a href="javascript:void(0)" style="margin: 0 5px;">Đơn hàng</a>
    <a href="javascript:void(0)" style="margin: 0 5px;">Thành viên</a>
    <a href="javascript:void(0)" style="margin: 0 5px;">Chi nhánh</a>
</div>