<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('components/head', {domain}) %>
</head>

<body>
    <header>
        <%- include('components/header', {branch}) %>
    </header>

    <h3>Ở đây để biểu đồ chart các thứ các thứ</h3>

    <%- include('components/foot') %>
</body>

</html>