<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />

    <!-- <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />-->
    <link rel="shortcut icon" href="../public/favicon.ico" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <title>Argon Dashboard React by Creative Tim</title>
    <%- include('partials/head', {domain}) %>
</head>

<body>
    <header>
        <%- include('partials/header', {branch}) %>
    </header>

    <h3>Ở đây để biểu đồ chart các thứ các thứ</h3>

    <%- include('partials/foot') %>
</body>

</html>