<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {domain}) %>
</head>

<body>
    <header>
        <%- include('partials/header', {branch}) %>
            <b>alo</b>
    </header>

    <h3>Ở đây để biểu đồ chart các thứ các thứ</h3>

    <%- include('partials/foot') %>
</body>

</html>