<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {domain}) %>
</head>

<body id="signin">
    <div class="container-fluid h-100 py-5 position-absolute bg-sign">
        <div class="d-flex justify-content-center flex-column align-content-center box">
            <h2 class="text-center pb-5">Admin SSS</h2>
            <label for="username"><small>Username:</small></label>
            <input type="text" id="username" placeholder="Username... "> <br>
            <label for="password"><small>Password:</small></label>
            <input type="password" id="password" placeholder="******"
                onkeydown="if(event.keyCode == 13) document.getElementById('login-btn').click()"> <br>
            <button class="py-1 bg-success rounded bg-gradient-success text-warning"
                id="login-btn"><b>Login</b></button>
        </div>
    </div>

    <%- include('partials/foot') %>
</body>

</html>