<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {domain}) %>
</head>

<body>
    <div class="container w-25 bg-gradient-info">
        <label for="username">username:</label>
        <input type="text" id="username"> <br>
        <label for="password">password:</label>
        <input type="password" id="password"> <br>
        <button id="login-btn">Login</button>
    </div>

    <%- include('partials/foot') %>
</body>

</html>