<base href="<%- domain %>">
<script src="public/js/jquery-3.6.4.min.js"></script>
<script>const domain = '<%- domain %>'; </script>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="theme-color" content="#000000" />
<!-- <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />-->
<link rel="shortcut icon" href="../public/favicon.ico" />
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
<title>Spỏt Shoe Shop</title>
<link rel="stylesheet" href="../public/assets/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="../public/assets/vendors/css/vendor.bundle.base.css">

<!-- Load jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Load the 'material' theme CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">


<!-- Load Handsontable CSS and JavaScript -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.min.css">
<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.min.js"></script>

<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="../public/assets/vendors/jvectormap/jquery-jvectormap.css">
<link rel="stylesheet" href="../public/assets/vendors/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="../public/assets/vendors/owl-carousel-2/owl.carousel.min.css">
<link rel="stylesheet" href="../public/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
<link rel="stylesheet" href="../public/assets/css/style.css">